header {
  background-color: red;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
  
}

header > img {
  align-self: center;
  text-transform: uppercase;
}

header > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

header > ul > li {
  display: flex;
  justify-items: center;
  padding: 0 10px;
}

header > ul > li > a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}